/* helpers */
.hide {
  display: none;
}
.topplacer {
  height: 1px;
}
.opacyclick {
  pointer-events: none;
}
/* helpers */

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: Jost;
  font-weight: 200;
  color: rgb(241, 241, 241);
  background-image: url("./assets/trang.png");
  background-size: 100px 100px;
  background-color: rgba(0, 0, 0, 0.863);
  justify-content: center;
}

#wrapper {
  z-index: -1;
  background: linear-gradient(
    320deg,
    #000000af,
    #00000094,
    #0000006b,
    #00000038
  );
  width: 100vw;
  height: 100vh;
  background-size: 400% 400%;
  -webkit-animation: gradient 28s ease infinite;
  -moz-animation: gradient 28s ease infinite;
  animation: gradient 28s ease infinite;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 17%;
  }
  25% {
    background-position: 100% 84%;
  }
  50% {
    background-position: 17% 0%;
  }
  75% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 17%;
  }
  25% {
    background-position: 100% 84%;
  }
  50% {
    background-position: 17% 0%;
  }
  75% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 17%;
  }
  25% {
    background-position: 100% 84%;
  }
  50% {
    background-position: 17% 0%;
  }
  75% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}

/* about is board wit information about spice solutins 
fade in when pointer is on the center of the clock */
.about {
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-duration: 2s;
  animation-name: slidein;
  animation-direction: alternate;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.aboutt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-duration: 2s;
  animation-name: slideinn;
  animation-direction: alternate;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
  margin-left: 100%;
  width: 300%;
}
@keyframes slideinn {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

/* this is only for test */
@media screen and (max-width: 400px) {
  .textwraper {
    padding: 0px 20px 40px 20px;
  }
  .eCart {
    margin-top: 0px;
  }
}
.text {
  font-family: Jost, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 0px;
}
p {
  margin: 0px;
  font-size: 18px;
  text-transform: uppercase;
}
p.thin {
  font-weight: 100;
}
@media screen and (max-width: 400px) {
  .text {
    font-family: Jost, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  p {
    max-width: 380px;
    font-size: 16px;
    text-transform: uppercase;
  }
  p.thin {
    font-weight: 100;
  }
}
.back {
  background: rgba(3, 3, 3, 0.88);
  height: 100%;
}
.navi {
  position: fixed;
  padding: 10px 10px 0px 10px;
  background-color: rgb(14, 14, 14);
  z-index: 2;
  width: 100%;
  display: none;
}
@media screen and (max-width: 400px) {
  .navi {
    position: fixed;
    padding: 10px 10px 0px 10px;
    background-color: rgb(14, 14, 14);
    z-index: 2;
    width: 100%;
    display: inline-block;
  }
}
a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}
/* hamburger nav*/
.hamburger {
  position: fixed;
  right: 0;
  z-index: 4;
  cursor: pointer;
}
.OpenMenu {
  margin: 18px;
  width: 60px;
  height: 60px;
}
.menu {
  width: 160px;
  height: 100%;
  background: #1f1f1f;
  position: fixed;
  top: 0;
  right: -320px;
  transition: left 0.1s;
  z-index: 4;
}

.menu-item:first-child {
  margin-top: 180px;
}

.menu-item {
  color: #fff;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}
.menu-item:hover {
  background: #313131;
  cursor: pointer;
}
/* this is main content section */

/* this is clock main page css section */
/* .opening {
  margin: 0px auto;
  width: 100wh;
  height: 100wh;
} */
@media screen and (max-width: 400px) {
  .opening {
    padding: 0px auto;
  }
}

div.clock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.clock {
  position: relative;
  transform: rotate(-45deg);
  animation: rotate 6s ease;
  max-height: 100vw;
  max-width: 100vh;
}

.clockArrow {
  position: absolute;
  pointer-events: none;
  max-height: 100vw;
  max-width: 100vh;
}
/* END of pause clock rotating animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
/* CLIENT CHANGE */
/* pause clock rotating animation is of because of client decision*/

/*.opening:hover .clock {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
@media screen and (max-width: 820px) {
  img.clock {
    animation: none;
  }
} */

/* product section */
.bow {
  max-height: 420px;
}
@media screen and (max-width: 900px) {
  .bow {
    max-height: 320px;
  }
}
@media screen and (max-width: 800px) {
  .bow {
    max-height: 220px;
  }
}
@media screen and (max-width: 400px) {
  .bow {
    max-height: 120px;
  }
}
/* =============== */
/*   eC  section   */
.eC {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.eW {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#eW {
  padding-top: 60px;
}

.eG {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#eG {
  padding-top: 60px;
}

.eS {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/*  Carousel section */
/* .carousel {
  width: 700px;
}
.slick-list{
  width: 600px;
}

.carousel__text {
  overflow:auto;
  width: 742px;
  height: 240px;
  padding: 20px;
}
.sliderEC {
  margin: -100px auto;
}
.sliderEW {
  margin: 0px auto;
}
.eW {
  margin-top: -100px;
}

.sliderEG {
  margin: 0px auto;
}
.eG {
  margin-top: -100px;
}
.sliderES {
  margin: -100px auto;
} */
.carousel__wrapper {
  margin: -100px 28%;
}
.carousel {
  margin: 0 auto;
}
.carousel__element {
  display: table;
}
img.carousel__photo {
  width: 100%;
  height: auto;
}
.carousel__text {
  max-height: 350px !important;
  overflow-y: scroll;
}
/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 221, 72, 0.5);
  -webkit-box-shadow: 0 0 1px rgb(165, 165, 165);
} */

.mobile {
  display: none;
}

@media screen and (max-width: 400px) {
  .carousel {
    width: 200px;
  }
  .sliderEC {
    margin: 0px auto;
  }
  .moble {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .eC {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0px 0px 0px 0px;
  }
  .eW {
    align-items: flex-end;
  }
  .eG {
    align-items: flex-start;
  }
  .eS {
    align-items: flex-start;
  }
  #eC {
    padding: 0px;
  }
  #eW {
    padding: 0px;
  }
  #eG {
    padding: 0px;
  }
  #eS {
    padding: 0px;
  }
  .bowec {
    padding: 30px;
  }
  .bowew {
    padding: 30px;
  }
  .boweg {
    padding: 30px;
  }
  .bowes {
    padding: 30px;
  }
  .cleseingLogoEC {
    display: none;
  }
  .cleseingLogoEW {
    display: none;
  }
  .cleseingLogoEG {
    display: none;
  }
  .cleseingLogoES {
    display: none;
  }
  .mobile {
    width: 300px;
    display: block;
  }
  p {
    max-width: 240px;
  }
  .boweS {
    margin-bottom: 30px;
  }
}
/* Carousele arrow basic */
.slide-arrow {
  position: absolute;
  top: 10%;
  margin-top: -15px;
}
.prev-arrow {
  left: -50px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-color: rgba(0, 0, 0, 0);
}
.next-arrow {
  right: -50px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-color: rgba(0, 0, 0, 0);
}
/* Carousele arrow specification for product */
#eC .prev-arrow {
  border-right: 15px solid #e6b30f;
}
#eC .next-arrow {
  border-left: 15px solid #e6b30f;
}
#eW .prev-arrow {
  border-right: 15px solid #4aa04f;
}
#eW .next-arrow {
  border-left: 15px solid #4aa04f;
}
#eG .prev-arrow {
  border-right: 15px solid #bda761;
}
#eG .next-arrow {
  border-left: 15px solid #bda761;
}
#eS .prev-arrow {
  border-right: 15px solid #e71818;
}
#eS .next-arrow {
  border-left: 15px solid #e71818;
}
/* footer section */

.intro {
  padding: 100px;
}
footer {
  background-color: rgb(0, 0, 0);
  padding-left: 10%;
}
.sociale {
  padding-bottom: 30px;
  display: inline-block;
}
.social_ico {
  max-width: 40px;
  padding: 3px;
}
.social_ico:hover {
  max-width: 43px;
  padding: 0;
}
#home {
  margin: 0px;
}
