/* helpers */
.hide {
  display: none;
}
.topplacer {
  height: 1px;
}
.opacyclick {
  pointer-events: none;
}
/* helpers */

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: Jost;
  font-weight: 200;
  color: rgb(241, 241, 241);
  background-image: url("./assets/trang.png");
  background-size: 100px 100px;
  background-color: rgba(0, 0, 0, 0.863);
  justify-content: center;
}

#wrapper {
  z-index: -1;
  background: linear-gradient(
    320deg,
    #000000af,
    #00000094,
    #0000006b,
    #00000038
  );
  width: 100vw;
  height: 100vh;
  background-size: 400% 400%;
  -webkit-animation: gradient 28s ease infinite;
  -moz-animation: gradient 28s ease infinite;
  animation: gradient 28s ease infinite;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 17%;
  }
  25% {
    background-position: 100% 84%;
  }
  50% {
    background-position: 17% 0%;
  }
  75% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 17%;
  }
  25% {
    background-position: 100% 84%;
  }
  50% {
    background-position: 17% 0%;
  }
  75% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 17%;
  }
  25% {
    background-position: 100% 84%;
  }
  50% {
    background-position: 17% 0%;
  }
  75% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}

/* about is board wit information about spice solutins 
fade in when pointer is on the center of the clock */
.about {
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-duration: 2s;
  animation-name: slidein;
  animation-direction: alternate;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.897);
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.aboutt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-duration: 2s;
  animation-name: slideinn;
  animation-direction: alternate;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
  margin-left: 100%;
  width: 300%;
}
@keyframes slideinn {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

/* this is only for test */
@media screen and (max-width: 400px) {
  .textwraper {
    padding: 0px 20px 40px 20px;
  }
  .eCart {
    margin-top: 0px;
  }
}
.text {
  font-family: Jost, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 0px;
}
p {
  margin: 0px;
  font-size: 18px;
  text-transform: uppercase;
}
p.thin {
  font-weight: 100;
}
@media screen and (max-width: 400px) {
  .text {
    font-family: Jost, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  p {
    max-width: 380px;
    font-size: 16px;
    text-transform: uppercase;
  }
  p.thin {
    font-weight: 100;
  }
}
.back {
  background: rgba(3, 3, 3, 0.88);
  height: 100%;
}
.navi {
  position: fixed;
  padding: 10px 10px 0px 10px;
  background-color: rgb(14, 14, 14);
  z-index: 2;
  width: 100%;
  display: none;
}
@media screen and (max-width: 400px) {
  .navi {
    position: fixed;
    padding: 10px 10px 0px 10px;
    background-color: rgb(14, 14, 14);
    z-index: 2;
    width: 100%;
    display: inline-block;
  }
}
a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}
/* hamburger nav*/
.hamburger {
  position: fixed;
  right: 0;
  z-index: 5;
  cursor: pointer;
}
.OpenMenu {
  margin: 18px;
  width: 60px;
  height: 60px;
}
.menu {
  width: 160px;
  height: 100%;
  background: #1f1f1f;
  position: fixed;
  top: 0;
  right: -320px;
  transition: left 0.1s;
  z-index: 4;
}

.menu-item:first-child {
  margin-top: 180px;
}

.menu-item {
  color: #fff;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}
.menu-item:hover {
  background: #313131;
  cursor: pointer;
}
/* this is main content section */

/* this is clock main page css section */
/* .opening {
  margin: 0px auto;
  width: 100wh;
  height: 100wh;
} */
@media screen and (max-width: 400px) {
  .opening {
    padding: 0px auto;
  }
}

/* div.clock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.clock {
  position: relative;
  transform: rotate(-45deg);
  animation: rotate 6s ease;
  max-height: 100vw;
  max-width: 100vh;
}

.clockArrow {
  position: absolute;
  pointer-events: none;
  max-height: 100vw;
  max-width: 100vh;
} */

div.clock {
  position: relative;
  top: 3vh;
  left: 0;
  width: 98vh;
  /* height: 80vh; */
  margin: 0px auto;
}
@media screen and (max-width: 600px) {
  div.clock {
    top: 8vh;
  }
}
.clockArrow {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
}

img.clock {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  transform: rotate(-45deg);
  animation: rotate 6s ease;
}

/* END of pause clock rotating animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
/* CLIENT CHANGE */

/* Carousele arrow basic */
.slide-arrow {
  position: absolute;
  top: 40%;
  margin-top: -15px;
}
.prev-arrow {
  left: -50px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-color: rgba(0, 0, 0, 0);
}
.next-arrow {
  right: -50px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-color: rgba(0, 0, 0, 0);
}
/* Carousele arrow specification for product */
#eC .prev-arrow {
  border-right: 15px solid #e6b30f;
}
#eC .next-arrow {
  border-left: 15px solid #e6b30f;
}
#eW .prev-arrow {
  border-right: 15px solid #4aa04f;
}
#eW .next-arrow {
  border-left: 15px solid #4aa04f;
}
#eG .prev-arrow {
  border-right: 15px solid #bda761;
}
#eG .next-arrow {
  border-left: 15px solid #bda761;
}
#eS .prev-arrow {
  border-right: 15px solid #e71818;
}
#eS .next-arrow {
  border-left: 15px solid #e71818;
}
/* footer section */

.intro {
  padding: 100px;
}
footer {
  background-color: rgb(0, 0, 0);
  padding-left: 10%;
}
.sociale {
  padding-bottom: 30px;
  display: inline-block;
}
.social_ico {
  max-width: 40px;
  padding: 3px;
}
.social_ico:hover {
  max-width: 43px;
  padding: 0;
}
#home {
  margin: 0px;
}
@media screen and (max-width: 600px) {
  .intro {
    padding: 12px;
  }
  .main__logo {
    max-width: 200px;
  }
}
/* post carousel */
/* general */
.sesx {
  margin-top: 30px;
}
.product__pictures {
  display: block;
}
.ecx {
  margin-top: 30px;
  max-width: 2vw;
  padding: 1vw 15vw 0vw;
}

.productLogo {
  max-height: 10vw;
  margin: 0 auto;
  padding: 0vw 15vw;
}
.carousel {
  max-width: 50vw;
  /* width: 100%; */
  margin: 3vw auto;
}
.carousel__element {
  max-height: 500px;
  margin: 0px auto;
}
.text__carousel {
  max-height: 300px;
  padding: 0vw 5vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.whiteTin {
  font-family: Jost;
  font-weight: 200;
  color: rgb(241, 241, 241);
}
@media screen and (max-width: 1424px) {
  .sesx {
    margin-top: 30px;
    padding: 1vw 0vw 0vw;
  }
  .productLogo {
    max-width: 50vw;
    margin: 0 auto;
    padding: 0vw 15vw;
  }
  .carousel {
    max-width: 50vw;
    /* width: 100%; */
    margin: 3vw auto;
  }
  .carousel__element {
    max-height: 50vw;
    margin: 0px auto;
  }
  .text__carousel {
    max-height: 300px;
    padding: 0vw 5vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .whiteTin {
    font-family: Jost;
    font-weight: 200;
    color: rgb(241, 241, 241);
  }

  .fadeGradient {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .product {
    padding-top: 30px;
  }
  .whiteTin {
    font-size: 14px;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  .fadeGradient {
    display: unset;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.774) 5%,
      rgba(0, 0, 0, 0) 20%
    );
    pointer-events: none;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* spesific */
::-webkit-scrollbar-thumb {
  background: #6b685e;
  border-radius: 10px;
}
